---
import Layout from "../components/Layout.astro";
import "../pages/camis.css"; // Reuse styles from camis.css
---

<Layout>
  <section class="projectPage">
    <div class="back-button">
      <button onclick="history.back()" class="btn stylish-btn">Go Back</button>
    </div>
    <div class="introduction">
      <h2>COOP*1100 - Grader</h2>
      <p><strong>Duration:</strong> Sep 2023 - Aug 2024 · 1 year</p>
      <p><strong>Mode:</strong> Remote</p>
    </div>
    <div class="project">
      <h3>Responsibilities</h3>
      <ul>
        <li>Evaluate resumes, cover letters, and interviews in the Introduction to Cooperative Education course.</li>
        <li>Provide constructive feedback to students to enhance their understanding and skills.</li>
        <li>Collaborate with instructors to ensure a consistent and fair grading process.</li>
        <li>Support students in their journey towards successful cooperative education experiences.</li>
      </ul>
    </div>
  </section>
</Layout>
