---
import Layout from "../components/Layout.astro";
import "../pages/camis.css"; // Reuse styles from camis.css
---

<Layout>
  <section class="projectPage">
    <div class="back-button">
      <button onclick="history.back()" class="btn stylish-btn">Go Back</button>
    </div>
    <div class="introduction">
      <h2>Guest Registration Desk Staff Member</h2>
      <p><strong>Duration:</strong> Feb 2023 - Apr 2023 · 3 months</p>
      <p><strong>Mode:</strong> On-site</p>
    </div>
    <div class="project">
      <h3>Responsibilities</h3>
      <ul>
        <li>Assisted in educating residence students on Student Housing Services Guest Policy.</li>
        <li>Issued Guest Passes to students, verifying student and guest identification.</li>
        <li>Assisted on the Residence Desks during staff shortages or high traffic times such as check-in and check-out.</li>
      </ul>
    </div>
  </section>
</Layout>
