---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Work from './work.astro';
import Skills from './skills.astro';
import Projects from './projects.astro';
import About from './about.astro';
import Layout from '../components/Layout.astro';
---


<Layout>
    <style>
        @import './index.css'; 
    </style>
    <Header />
    <section id = "home" class="hero">
        <div class="hero-content animated">
            <h1>Simardeep Singh</h1>
            <p>I am a passionate and dedicated 4th-year Software Engineering student at the University of Guelph, with a strong foundation in software development and a proven track record of practical experience. Throughout my academic journey, I have honed my skills and knowledge, and I am eager to leverage them to create innovative solutions.</p>
                
            <p>
            During my four co-op terms at diverse companies, I've had the opportunity to work on a wide range of projects. I thrive in collaborative environments and am adept at turning complex problems into elegant, efficient code.</p>
            <p>
            I am always seeking new challenges and opportunities to expand my expertise, and I am excited to contribute to the ever-evolving world of software development. With a passion for learning and a commitment to excellence, I am well-prepared to tackle the next exciting chapter in my career.</p>
            
            <p>Thank you for visiting my portfolio, and I look forward to connecting with you to explore potential collaborations and projects</p>
            <a href="Simardeep Singh Resume.pdf" class="cta-button">Resume</a>
        </div>
    </section>
    <Work />
    <Skills />
    <Projects />
    <About />
    <Footer />
</Layout>    
