
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.hero p {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
    text-align: justify;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #e44d26;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    border: 2px solid #e44d26;
}

.cta-button:hover {
    border: 2px solid #e44d26;
    border-radius: 5px;
    background-color: white;
    color:  #e44d26;
}

/* Animation styles */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated {
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}
