---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Work from "./work.astro";
import Skills from "./skills.astro";
import Projects from "./projects.astro";
import About from "./about.astro";
import Layout from "../components/Layout.astro";
---

<Layout>
    <style>
        @import "./index.css";
    </style>
    <Header />
    <section id="home" class="hero">
        <div class="hero-content animated">
            <h1>Simardeep Singh</h1>
            <p>
                I’m a Software Engineer. From a young age, I've been recognized
                as a quick learner with a passion for solving problems and
                engaging in diverse activities. My leadership and teamwork
                skills were honed early as I used to participate in almost every
                opportunity I got. I led two major projects in 11th grade, both
                of which were selected by NASA in the Ames Space Settlement
                Competition, leading to an invitation to visit NASA.
            </p>

            <p>
                I also played soccer at the national level in India until 11th
                grade, after which I shifted my focus to academics due to a
                ligament injury. Despite the setback, I successfully cracked
                some of India's toughest entrance exams with just a year of
                preparation and began learning Java during the 2020 quarantine.
                This led me to pursue a Software Engineering Co-op at the
                University of Guelph.
            </p>
            <p>
                Over the past four years, I’ve gained valuable experience
                through 5 internships, and worked as a Teaching Assistant and
                Grader, and taking on various part-time roles. I scored Very
                good in the first two internships and Outstanding in the third.
                In the 4th internship, I received Very Good grade. For 5th
                internship, I worked at the same company as 4th, improved a lot
                and received Outstanding evaluation. These opportunities have
                allowed me to interact with a diverse range of people and
                sharpen my technical and interpersonal skills.
            </p>

            <p>
                I am always seeking new challenges and opportunities to expand
                my expertise, and I am excited to contribute to the
                ever-evolving world of software development. With a passion for
                learning and a commitment to excellence, I am well-prepared to
                tackle the next exciting chapter in my career. Thank you for
                visiting my portfolio, and I look forward to connecting with you
                to explore potential collaborations and projects
            </p>
            <a href="Simardeep Singh Resume.pdf" class="cta-button">Resume</a>
        </div>
    </section>
    <Work />
    <Skills />
    <Projects />
    <About />
    <Footer />
</Layout>
