---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Work from "./work.astro";
import Skills from "./skills.astro";
import Projects from "./projects.astro";
import About from "./about.astro";
import Layout from "../components/Layout.astro";
---

<Layout>
    <style>
        @import "./index.css";
    </style>
    <Header />
    <section id="home" class="hero">
        <div class="hero-content animated">
            <h1>Simardeep Singh</h1>
            <p>
                I am a detail-oriented AWS Certified Solution Arcitect Associate & Software Engineer with a strong foundation in full-stack development, cloud technologies, and automation. From a young age, I have demonstrated a passion for problem-solving and a drive for continuous learning. My journey began with leadership and teamwork experiences, which were further enriched through playing soccer at the national level in India until a ligament injury shifted my focus to academics. Despite this setback, I successfully cracked some of India’s toughest entrance exams with just a year of preparation and discovered my passion for software development during the 2020 quarantine, where I began learning Java.
            </p>

            <p>
                My academic journey brought me to the University of Guelph, where I pursued Software Engineering and gained hands-on experience through 6 impactful co-ops, earning "Outstanding" evaluations in several. These internships allowed me to enhance application performance, implement innovative solutions like microservices architectures and CI/CD pipelines, and collaborate within cross-functional teams. Additionally, my roles as a Teaching Assistant, Grader, and in various part-time positions honed my technical expertise and interpersonal skills.
            </p>
            <p>
                I am passionate about growing and leveraging my experience and knowledge gained so far to find solutions for challenging problems and enhance user/customer experiences. I thrive on challenges and am constantly seeking opportunities to expand my expertise. With a proven track record of leadership, adaptability, and excellence, I am excited to contribute to the ever-evolving field of software development and collaborate on transformative projects.
            </p>

            <p>
                Thank you for visiting my portfolio. I look forward to connecting and exploring potential collaborations!
            </p>
            <a href="SimardeepSinghResume.pdf" class="cta-button">Resume</a>
            <a href="https://www.credly.com/badges/612630c1-8337-438a-af89-61930ca95ed8/linked_in_profile" class="cta-button">AWS Certificate</a>
        </div>
    </section>
    <Work />
    <Skills />
    <Projects />
    <About />
    <Footer />
</Layout>
