---
import Layout from "../components/Layout.astro"
---

<Layout>
    <style>
      @import './camis.css';
    </style>
    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let slides = document.getElementsByClassName("projectImage");
            let dots = document.getElementsByClassName("dot");
            for (let i = 0; i < slides.length; i++) {
                (slides[i] as HTMLElement).style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            for (let i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            (slides[slideIndex-1] as HTMLElement).style.display = "block";
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 2000); // Change slide every 4 seconds
        }
    </script>
        <section class="projectPage">
            <div class="back-button">
                <button onclick="history.back()" class="btn stylish-btn">Back</button>
            </div>
            <img src="../ncrvoyix.png" alt="ncr voyix Logo" class="header-image">
            <div class="introduction">
                <h2>Introduction</h2>
                <p>
                    NCR Voyix is a global leader in digital commerce, revolutionizing retail, restaurants, and financial institutions with innovative solutions. 
                    With a rich legacy spanning nearly 140 years, NCR Voyix is committed to simplifying customer experiences and driving growth for clients worldwide. 
                    There are different teams which are working on different projects. I was the part of Wintermute team. Sometimes, we had to coordinate with offshore teams, which are sitting in India. The most difficult part in coordination was the difference in time zones. 
                    Therefore, sometimes we had to work late till midnight as well.
                    During my co-op term, some changes occured at NCR Voyix. As a result our team was switched to a different project. I was able to get adjusted to the sudden changes with the help of team members. My team was very supportive and helpful. 
                    Everyone was determined to complete the task on time with utmost precision.
                </p>
            </div>
            <h2 class="project">Goals and Job Description</h2>
            <div class="projectList">
                <div class="projectOne">
                    <div><strong>There were some goals that I designed while working at ncrvoyix.</strong></div>
                    <div>They are listed below:</div>
                    <p>
                        <strong>GOAL 1: </strong> 	Learn developer tools and technologies. <br>
                        <strong>Action Plan 1: </strong> Learn about technologies and tools used in a project. <br>
                        Try to develop new updates or features that can be useful for the application. <br>
                        Able to test and deploy the feature. <br>
                        <strong>Measure of Success 1: </strong> Successfully able to use the tools and technologies. <br>
                        Able to develop a feature without any errors. <br>
                        Successfully deploy the feature without disrupting the other functionalities of the project. <br>
                        <br>
                        <strong>GOAL 2: </strong> Improve coding skills. <br>
                        <strong>Action Plan 2: </strong>Try to complete tickets which require coding. <br>
                        Understand the flow of the projects, and the way different files, tools and repos interact with each other.<br>
                        <strong>Measure of Success 2: </strong> Able to right complicated code without any errors.<br>
                        Develop, test and deploy features successfully without any hinderance. <br>
                        <br>
                        <strong>GOAL 3: </strong> Able to work and collaborate in a team environment. <br>
                        <strong>Action Plan 3: </strong>Participate in team meetings and contribute to discussions. <br>
                        Clear doubts and learn from others experience without any hesitation. <br>
                        Work on cross functional project to improve communication, teamwork and project management skills. <br>
                        <strong>Measure of Success 3: </strong> Receive positive feedback from team members on communication and collaboration. <br>
                        Regular personal growth check in managing task and interacting with different team members.<br>
                        <br>
                        <strong>GOAL 4: </strong> Assist senior developers in development tasks. <br>
                        <strong>Action Plan 4: </strong>Create subtasks under developer's tickets.<br>
                        Smooth regular communication with developers and other teams <br>
                        Ask questions if there is a blocker and try to practice the solution on my own. <br>
                        <strong>Measure of Success 4: </strong> Successfully able complete subtasks on time.<br>
                        Ask questions related to developer's tasks apart from my subtasks. <br>
                        Become a reliable part of team. <br>
                        <br>
                        <strong>GOAL 5: </strong> Complete individual development tickets. <br>
                        <strong>Action Plan 5: </strong>Complete the ticket assigned on time <br>
                        Test the development on both team's and client's environment. <br>
                        <strong>Measure of Success 5: </strong> Assigned work completed on time. <br>
                        Assigned work did not become a blocker for others.<br>
                        ask completed without any errors.<br>
                        <br>
                    </p>
    
                </div>
                <div class="projectTwo">
                    <strong>
                        <div>My Job Description</div>
                    </strong>
                    <div>Let's peek into what I did at my job:</div>
                    <p>
                        <div>
                            <li>
                                Achieved Outstanding Evaluation for the work term.
                            </li>
                            <li>
                                Implemented reusable UI components and state management in React, reducing development time by 20% on new feature releases.
                            </li>
                            <li>
                                Collaborate with the frontend team to integrate React, JavaScript, and plugin architecture, enensuring seamless backend & frontend integration with effective communication.
                            </li>
                            <li>
                                Architected a Kubernetes-based sandbox environment with a vRA cluster and mentored team members on its setup, reducing errors in feature demo to clients by 100% and ensuring long-term project sustainability
                            </li>
                            <li>
                                Established a CI/CD pipeline in Jenkins to build & deploy a Maven-based microservice via Helm, optimizing deployment.
                            </li>
                            <li>
                                Collaborate with cross-functional teams, both onshore and offshore, to deliver feature in the most efficient manner. 
                            </li>
                            <li>
                                Participate in Agile ceremonies such as sprint planning, stand-ups, and retrospectives to drive continuous improvement and delivery efficiency.
                            </li>
                            <li>
                                Utilized HTTP to facilitate communication between the client and server, ensuring robust data transfer.
                            </li>
                            <li>
                                Debugged complex issues, reducing bugs by 15% through code reviews & executing BDD test cases using Gherkin, Junit & TestCafe.
                            </li>
                            <li>
                                Developed and containerized micro-services and RESTful APIs using Docker, Java Spring Boot and PostgreSQL on GCP.
                            </li>
                            <li>
                                Designed and containerized microservices using Docker in Spring Boot on Google Cloud Platform, enabling flexible, high-scale operations and enhancing system resilience.
                            </li>
                            <li>
                                Collaborate with cross-functional teams, both onshore and offshore, to deliver feature in the most efficient manner.
                            </li>
                            <br />
                            <strong>Challenges</strong>
                            <br />
                                Due to changes made in the company, our team was switched from a project to a different one. I just got familiar with the first one and suddenly I had to get familiarize with the second project.
                                Everyone in my team, including senior developers were new to this project, so there was a lack of knowledge. Everyone, including me, had to communicate with each other a lot and many times we
                                had to interact with offshore teams, which are present in completely different timezones. But consistant efforts helped us deliever the goals for each sprint. 
                            
                        </div>
                    </p>
                    <div class="conclusion">
                        <h2>Conclusion</h2>
                        <p>
                            It was a wonderful experience to work at NCR Voyix. There's a lot that I gained while working. I got the chance to work with tools and technologies, which I never worked with before. 
                            Before joining, I went through the job description, I found that there were a lot of opportunities to learn about the development of softwares. The most attracting aspect was that the position offers the opportunity to work with a wide range of tools.
                            My tasks include a range of items from developemnt to testing, whether its backend or frontend. Due to helpful nature of my seniors
                            , I was able to achieve each and every goal. I think this co-op term gave me the most experience in technical aspects of development, which will help me achieve my future goals.
                        </p>
                        <p>
                            You can view my work term evaluation report provided by my team lead at NCR Voyix here:
                            <a href="Personal-Portfolio/public/Documents/Simardeep_Singh_Coop_Evaluation_Report.pdf" target="_blank" class="stylish-btn">View Evaluation Report</a>
                        </p>
                    </div>
                    <div class="projectImage">
                        <img src="../ncrvoyix.png" alt="ncrvoyix Inc.">
                        <div class="description">NCR Voyix (1 / 13)</div>
                    </div>
                    <div class="projectImage">
                        <img src="../springio-icon.svg" alt="Java Spring Boot Logo">
                        <div class="description">Java Spring Boot(2 / 13)</div>
                    </div>
                    <div class="projectImage">
                        <img src="../kubernetes-icon.svg" alt="Kubernetes Logo">
                        <div class="description">Kubernetes (3 / 13)</div>
                    </div>
                    <div class="projectImage">
                        <img src="../java-icon.svg" alt="Java Logo">
                        <div class="description">Java (4 / 12)</div>
                    </div>
                    <div class="projectImage">
                        <img src="../google_cloud-icon.svg" alt="Google Cloud Platform (GCP) Logo">
                        <div class="description">Google Cloud Platform (GCP) (5 / 12)</div>
                    </div>
                    <div class="projectImage">
                        <img src="../reactjs-icon.svg" alt="React Logo">
                        <div class="description">React (6 / 12)</div>
                    </div>
                    <div class="projectImage">
                        <img src="../postgresql-vertical.svg" alt="PostgresSQL Logo">
                        <div class="description">PostgreSQL (7 / 12)</div>
                    </div>
                    <div class="projectImage">
                        <img src="../helmsh-icon.svg" alt="Helm Logo">
                        <div class="description">Helm (8 / 12)</div>
                    </div>
                    <div class="projectImage">
                        <img src="../docker-official.svg" alt="Docker Logo">
                        <div class="description">Docker (9 / 12)</div>
                    </div>
                    <div class="projectImage">
                        <img src="../Confluence.jpeg" alt="Confluence Logo">
                        <div class="description">Confluence (10 / 12)</div>
                    </div>
                    <div class="projectImage">
                        <div class="imgCount">3 / 6</div>
                        <img src="../JIRA.svg" alt="JIRA Logo">
                        <div class="description">JIRA (11 / 12)</div>
                    </div>
                    <div class="projectImage">
                        <img src="../testcafe.svg" alt="Testcafe Logo">
                        <div class="description">TestCafe (12 / 12)</div>
                    </div>
    
                    <div class="dots-container">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
            </div>
        </section>
</Layout>

