---
import Layout from "../components/Layout.astro"
---

<Layout>
    <style>
      @import './camis.css';
    </style>
    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let slides = document.getElementsByClassName("projectImage");
            let dots = document.getElementsByClassName("dot");
            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            for (let i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 2000); // Change slide every 4 seconds
        }
    </script>
        <section class="projectPage">
            <img src="../Camis.JPG" alt="Camis Logo" class="header-image">
            <div class="introduction">
                <h2>Introduction</h2>
                <p>
                    NCR Voyix is a global leader in digital commerce, revolutionizing retail, restaurants, and financial institutions with innovative solutions. 
                    With a rich legacy spanning nearly 140 years, NCR Voyix is committed to simplifying customer experiences and driving growth for clients worldwide. 
                    There are different teams which are working on different projects. I was the part of Wintermute team. Sometimes, we had to coordinate with offshore teams, which are sitting in India. The most difficult part in coordination was the difference in time zones. 
                    Therefore, sometimes we had to work late till midnight as well.
                    During my co-op term, some changes occured at NCR Voyix. As a result our team was switched to a different project. I was able to get adjusted to the sudden changes with the help of team members. My team was very supportive and helpful. 
                    Everyone was determined to complete the task on time with utmost precision.
                </p>
            </div>
            <h2 class="project">Goals and Job Description</h2>
            <div class="projectList">
                <div class="projectOne">
                    <div><strong>There were some goals that I designed while working at NCRVoyix.</strong></div>
                    <div>They are listed below:</div>
                    <p>
                        <strong>GOAL 1: </strong> 	Learn developer tools and technologies. <br>
                        <strong>Action Plan 1: </strong> Learn about technologies and tools used in a project. <br>
                        Try to develop new updates or features that can be useful for the application. <br>
                        Able to test and deploy the feature. <br>
                        <strong>Measure of Success 1: </strong> Successfully able to use the tools and technologies. <br>
                        Able to develop a feature without any errors. <br>
                        Successfully deploy the feature without disrupting the other functionalities of the project. <br>
                        <br>
                        <strong>GOAL 2: </strong> Improve coding skills. <br>
                        <strong>Action Plan 2: </strong>Try to complete tickets which require coding. <br>
                        Understand the flow of the projects, and the way different files, tools and repos interact with each other.<br>
                        <strong>Measure of Success 2: </strong> Able to right complicated code without any errors.<br>
                        Develop, test and deploy features successfully without any hinderance. <br>
                        <br>
                        <strong>GOAL 3: </strong> Able to work and collaborate in a team environment. <br>
                        <strong>Action Plan 3: </strong>Participate in team meetings and contribute to discussions. <br>
                        Clear doubts and learn from others experience without any hesitation. <br>
                        Work on cross functional project to improve communication, teamwork and project management skills. <br>
                        <strong>Measure of Success 3: </strong> Receive positive feedback from team members on communication and collaboration. <br>
                        Regular personal growth check in managing task and interacting with different team members.<br>
                        <br>
                    </p>
    
                </div>
                <div class="projectTwo">
                    <strong>
                        <div>My Job Description</div>
                    </strong>
                    <div>Let's peek into what I did at my job:</div>
                    <p>
                        <div>
                            <li>
                                Assisted in the development and implementation of
                                computational pipelines for the analysis of
                                high-throughput sequencing data (RNA-Seq, ChIP-Seq,
                                etc.)
                            </li>
                            <li>
                                Wrote different Dockerfiles and containerised three
                                pipelines using docker ensuring reproducibility and
                                scalability.
                            </li>
                            <li>
                                Wrote, maintained and corrected different python, R
                                and bash scripts.
                            </li>
                            <li>
                                I modified the coding algorithms such that they
                                become a lot faster. For example, some python
                                scripts started running in 5-6 seconds, which were
                                taking 10-15 minutes before.
                            </li>
                            <li>Troublehoot the devices several time.</li>
                            <li>
                                Worked with biologists and other team members to
                                collect and curate data for analysis
                            </li>
                            <li>
                                Performed quality control checks on raw data and
                                analyzed results
                            </li>
                            <li>
                                Assisted in the maintenance of databases and web
                                interfaces for data visualization and analysis
                            </li>
                            <li>
                                Kept up-to-date with the latest developments in
                                bioinformatics tools and techniques, and evaluate
                                and implement new tools as needed
                            </li>
                            <br />
                            <strong>Challenges</strong>
                            <li>
                                Prior to this assignment, I lacked experience with
                                Docker. Consequently, I undertook the initiative to
                                familiarize myself with it and set an objective to
                                dockerize two projects. Not only did I meet this
                                target, but I exceeded expectations by dockerizing
                                an additional project. Furthermore, I authored
                                various Python, R, and Bash scripts, engaged in
                                system troubleshooting, composed over six Standard
                                Operating Procedures (SOPs), meticulously documented
                                my work, and conducted extensive research on a
                                myriad of tools and subjects pertinent to
                                bioinformatics.
                            </li>
                            <li>
                                In the position, it was imperative to familiarize
                                oneself with specialized tools exclusive to the
                                field of Bioinformatics, necessitating a
                                comprehensive learning process. I successfully
                                mastered these tools and pipelines, evidenced by my
                                development of three efficient pipelines that not
                                only functioned optimally but also exhibited
                                enhanced speed and performance.
                            </li>
                        </div>
                    </p>
                    <div class="conclusion">
                        <h2>Conclusion</h2>
                        <p>
                            It was a wonderful experience to work at Camis Inc. There's a lot that I gained while working. First of all, I never knew that there's so much going on behind reserving a campsite. 
                            Before joining, I went through the job description, I found that there were a lot of opportunities to learn about testing and product review at Camis. I designed my goals keeping in 
                            my mind not only technical aspects of the job, but also business and interpersonal skills. My main tasks were to perform tests on different features. Due to different learning sessions 
                            and meetings, I was able to achieve each and every goal. Apart from the technical skills, I got to know how to interact with clients and team members at a professional level. 
                            The experience that I gained at Camis will help me in honing my skills to the next level, which will eventually help me to fulfill my future goals.
                        </p>
                    </div>
                    <div class="projectImage">
                        <img src="../Camis.JPG" alt="Camis Inc.">
                        <div class="description">Camis Inc. (1 / 6)</div>
                    </div>
                    <div class="projectImage">
                        <img src="../Confluence.jpeg" alt="Confluence Logo">
                        <div class="description">Confluence (2 / 6)</div>
                    </div>
    
                    <div class="projectImage">
                        <div class="imgCount">3 / 6</div>
                        <img src="../JIRA.svg" alt="JIRA Logo">
                        <div class="description">JIRA (3 / 6)</div>
                    </div>
                    <div class="projectImage">
                        <img src="../tableau.svg" alt="Tableau Logo">
                        <div class="description">Tableau (4 / 6)</div>
                    </div>
                    <div class="projectImage">
                        <img src="../SQLserver.png" alt="SQLServer Logo">
                        <div class="description">SQLserver (5 / 6)</div>
                    </div>
    
                    <div class="projectImage">
                        <img src="../testcafe.svg" alt="Testcafe Logo">
                        <div class="description">TestCafe (6 / 6)</div>
                    </div>
    
                    <div class="dots-container">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
            </div>
        </section>
</Layout>

