---
import Layout from "../components/Layout.astro";
import "../pages/camis.css"; // Reuse styles from camis.css
---

<Layout>
  <section class="projectPage">
    <div class="back-button">
      <button onclick="history.back()" class="btn stylish-btn">Go Back</button>
    </div>
    <div class="introduction">
      <h2>Store Associate - Osmow's Shawarma</h2>
      <p><strong>Duration:</strong> May 2022 - Dec 2022 · 8 months</p>
      <p><strong>Mode:</strong> On-site</p>
    </div>
    <div class="project">
      <h3>Responsibilities</h3>
      <ul>
        <li>Executed administrative and cash management duties.</li>
        <li>Provided quality products to customers with excellent customer service.</li>
        <li>Took over the role of Manager and led the team during busy hours.</li>
        <li>Communicated, trained, and promoted quality standards to team members.</li>
      </ul>
    </div>
  </section>
</Layout>
