/* General styling */
.projects-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.projects-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.projects-content h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

/* Card styling */
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1.5rem;
  height: 500px;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

/* Slideshow container */
.project-slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.project-slides {
  display: flex;
  transition: transform 0.3s ease;
}

/* Individual slide styling */
.project-slide {
  flex: 0 0 100%;
  height: auto;
  width: 100%;
  display: none;
  /* Hidden by default */
  transition: opacity 0.5s ease;
}

.project-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  max-height: 280px;
  padding: 0.5rem;
}

/* Dots container styling */
.dots-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #333;
}

/* Text styling */
.project-card h3 {
  font-size: 1.25rem;
  color: #333;
  margin: 0.5rem 0;
}

.project-card p {
  color: #777;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.project-card a:hover {
  color: #000;
}

/* GitHub icon styling */
.project-card a {
  color: #333;
  margin-top: 1rem;
  font-size: 1.5rem;
  /* Adjust icon size */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  transition: background-color 0.3s ease, transform 0.3s ease;

}

.project-card a:hover {
  background-color: #746a68;
  /* Match your primary color */
  transform: scale(1.1);/
}

.stylish-btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #e44d26;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.stylish-btn:hover {
  background-color: #b13d20;
  transform: scale(1.05);
}

.stylish-btn:active {
  background-color: #742815;
  transform: scale(0.95);
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}