---
import Layout from "../components/Layout.astro";
import "../pages/camis.css"; // Reuse styles from camis.css
---

<Layout>
  <section class="projectPage">
    <div class="back-button">
      <button onclick="history.back()" class="btn stylish-btn">Go Back</button>
    </div>
    <div class="introduction">
      <h2>Security Guard</h2>
      <p><strong>Duration:</strong> Mar 2023 - Apr 2023 · 2 months</p>
      <p><strong>Mode:</strong> On-site</p>
    </div>
    <div class="project">
      <h3>Responsibilities</h3>
      <ul>
        <li>Provided professional and respectful service and oversight for events, licensed activities, concerts, and special functions.</li>
        <li>Worked large-scale departmental events in the University Centre and other sites on campus.</li>
        <li>Demonstrated effective communication, keen observation, problem-solving skills, conflict resolution, tact, and a positive demeanor.</li>
        <li>Conducted person-checks, bag-checks, and ID-checks to ensure safety and security.</li>
        <li>Ensured the overall safety and security of patrons and staff working at events.</li>
      </ul>
    </div>
  </section>
</Layout>
