/* skills.css */
.skills-section {
  min-height: 100vh; /* Set the section to cover the entire viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.skills-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.skills-content h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 15%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.skill-card {
  perspective: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.skill-card:hover .skill-card-inner {
  transform: rotateY(180deg);
}

.skill-front,
.skill-back {
  text-align: center;
  backface-visibility: hidden;
}

.skill-front img {
  max-width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.skill-back {
  transform: rotateY(180deg);
  padding: 2rem;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.skill-back p {
  font-size: 14px;
  color: #555555;
}

/* Animations */
@keyframes flip-in {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.skill-card-inner {
  animation: flip-in 0.6s ease-out;
}
