---
import Layout from "../components/Layout.astro"
---

<Layout>
    
<style>
    @import './skills.css';
</style>
    <section id = "skills" class="skills-section">
        <div class="skills-content">
            <h2>My Skills</h2>
            <div class="skills-list">
                <div class="skill">
                    <div class="skill-card">
                        <div class="skill-card-inner">
                            <div class="skill-front">
                                <img src="java-icon.svg" alt="Programming Icon" />
                                <h3>Programming Languages</h3>
                            </div>
                            <div class="skill-back">
                                <p>C, Java, Python, JavaScript, PHP, HTML, CSS, R, Bash, YML, JSON, XML R, Fortran, Ada, Cobol, SQL</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-card">
                        <div class="skill-card-inner">
                            <div class="skill-front">
                                <img src="reactjs-icon.svg" alt="Framework Icon" />
                                <h3>Frameworks & Libraries</h3>
                            </div>
                            <div class="skill-back">
                                <p>Spring Boot, TensorFlow, PyTorch, Keras, Scikit-learn, YOLOv8, Pandas, MatplotLib, Seaborn, React, React Native, Vis.js, Node.js, Express.js, AJAX, jQuery, Astro, Bootstrap, </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-card">
                        <div class="skill-card-inner">
                            <div class="skill-front">
                                <img src="mysql.svg" alt="Database Icon" />
                                <h3>Database</h3>
                            </div>
                            <div class="skill-back">
                                <p>MySQL, PostgreSQL, SQL Server, Cassandra, Redis</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-card">
                        <div class="skill-card-inner">
                            <div class="skill-front">
                                <img src="github-icon.svg" alt="Version Control" />
                                <h3>Version Control</h3>
                            </div>
                            <div class="skill-back">
                                <p>Git, GitLab, GitHub</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-card">
                        <div class="skill-card-inner">
                            <div class="skill-front">
                                <img src="rest-api-icon.svg" alt="API Icon" />
                                <h3>API Integration</h3>
                            </div>
                            <div class="skill-back">
                                <p>Restful APIs, HTTP Methods, API Endpoints, Response Codes, Postman, cURL</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-card">
                        <div class="skill-card-inner">
                            <div class="skill-front">
                                <img src="testing-icon.svg" alt="Testing and Debugging" />
                                <h3>Testing and Debugging</h3>
                            </div>
                            <div class="skill-back">
                                <p>TestCafe, BDD (Gherkin), Playwright, Selenium, Junit, CodeceptJS, Cucumber, Blackbox, Sandbox, Automated, Regression, Unit, V&V, Exploratory, Functional Tetsing </p>
                            </div>
                        </div>
                    </div>
                </div><div class="skill">
                    <div class="skill-card">
                        <div class="skill-card-inner">
                            <div class="skill-front">
                                <img src="aws.svg" alt="Cloud Services & Infrastructure" />
                                <h3>Cloud Services and Infrastrucutre</h3>
                            </div>
                            <div class="skill-back">
                                <p>Amazon Web Services (AWS), Google Cloud Platform (GCP), Docker, Kubernetes, Nginx, Helm, Docker Compose, VMware vRealize Automation (vRA), Terraform, Helm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-card">
                        <div class="skill-card-inner">
                            <div class="skill-front">
                                <img src="postman.svg" alt="DevOps Tools" />
                                <h3>DevOps Tools</h3>
                            </div>
                            <div class="skill-back">
                                <p>Jenkins, Tableau, Maven, Linux, Postman</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-card">
                        <div class="skill-card-inner">
                            <div class="skill-front">
                                <img src="data_structure.svg" alt="Concepts" />
                                <h3>Concepts</h3>
                            </div>
                            <div class="skill-back">
                                <p>Full Stack Development, Cloud Technologies, Automation, Microservices Architecture, CI/CD Pipelines, Data Visualization, Machine Learning, Docker Containerization, Kubernetes Clustering, RESTful API Development, Agile Methodologies, Version Control, Data Processing Workflows, Test Automation, Object-Oriented Programming (OOP), SOLID Principles, Data Analysis, Responsive Design, Web Accessibility, Neural Network Training, Real-Time Object Detection, Cross-Functional Team Collaboration, Code Modularity, System Scalability, Data Security and Protocols, End-to-End Testing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
