---
import Layout from "../components/Layout.astro";
import "../pages/camis.css"; // Reuse styles from camis.css
---

<Layout>
  <section class="projectPage">
    <div class="back-button">
      <button onclick="history.back()" class="btn stylish-btn">Go Back</button>
    </div>
    <div class="introduction">
      <h2>Teaching Assistant - Data Structures and Algorithms</h2>
      <p><strong>Duration:</strong> Sep 2023 - Jan 2024 · 5 months</p>
      <p><strong>Mode:</strong> Hybrid</p>
    </div>
    <div class="project">
      <h3>Responsibilities</h3>
      <ul>
        <li>Led lab sessions for over 250 students on data structures, emphasizing efficient algorithm design and analyzing time complexity.</li>
        <li>Conducted C and Git lab sessions on managing large codebases, promoting best practices in collaborative development and debugging.</li>
        <li>Facilitated orientation, offered personalized support during office hours, collaborated on course material, managed correspondence, and provided constructive grading.</li>
      </ul>
    </div>
    <div class="conclusion">
      <h3>Impact</h3>
      <p>Played a key role in student success by fostering a deep understanding of data structures and algorithms, ensuring students were well-prepared for advanced coursework and professional development.</p>
    </div>
  </section>
</Layout>
