---
import Layout from "../components/Layout.astro";
---

<Layout>
  <style>
    @import "./work.css";
  </style>

  <section id="work" class="work-section">
    <h2>Work Experience (Pending)</h2>
    <div class="work-content">
      <div class="work-card">
        <img src="Camis.JPG" alt="Company 1" class="company-logo" />
        <div class="work-details">
          <h3>Software Developer Co-op</h3>
          <p>Camis Inc., Guelph, ON</p>
          <p>30 May 2022 to 2 Sept 2022</p>
          <a href="/camis">More Info</a>
        </div>
      </div>
      <div class="work-card">
        <img
          src="Intellijoint.jpg"
          alt="Company 1"
          class="company-logo"
        />
        <div class="work-details">
          <h3>Software Test Co-op</h3>
          <p>Intellijoint Surgical, Kitchener, ON</p>
          <p>06 Sept May 2022 to 23 Dec 2022</p>
          <a href="/intellijoint">More Info</a>
        </div>
      </div>
      <div class="work-card">
        <img src="Norgen.jpeg" alt="Company 1" class="company-logo" />
        <div class="work-details">
          <h3>Bioinformatician Co-op</h3>
          <p>Norgen Biotek, Thorold, ON</p>
          <p>08 May 2023 to 31 Aug 2023</p>
          <a href="/norgen">More Info</a>
        </div>
      </div>
      <div class="work-card">
        <img src="University.png" alt="Company 1" class="company-logo" />
        <div class="work-details">
          <h3>Teaching Assisstant - Data Structures and Algorithms</h3>
          <p>University of Guelph, Guelph, ON</p>
          <p>11 Sept 2023 to 23 Dec 2023</p>
          <a href="#">More Info</a>
        </div>
      </div>
      <div class="work-card">
        <img src="University.png" alt="Company 1" class="company-logo" />
        <div class="work-details">
          <h3>COOP*1100 - Grader</h3>
          <p>University of Guelph, Guelph, ON</p>
          <p>11 Sept 2023 to 23 Dec 2023</p>
          <a href="#">More Info</a>
        </div>
      </div>
      <div class="work-card">
        <img src="University.png" alt="Company 1" class="company-logo" />
        <div class="work-details">
          <h3>Guest Registration Desk Staff Member</h3>
          <p>Student Housing, University of Guelph, Guelph, ON</p>
          <p>1 Jan 2023 to 30 April 2023</p>
          <a href="#">More Info</a>
        </div>
      </div>
      <div class="work-card">
        <img src="University.png" alt="Company 1" class="company-logo" />
        <div class="work-details">
          <h3>Security Guard</h3>
          <p>Brass Taps, University of Guelph, Guelph, ON</p>
          <p>1 Jan 2023 to 30 April 2023</p>
          <a href="#">More Info</a>
        </div>
      </div>
      <div class="work-card">
        <img src="circlek.png" alt="Company 1" class="company-logo" />
        <div class="work-details">
          <h3>Store Associate</h3>
          <p>Circle K, Guelph, ON</p>
          <p>3 May 2021 to 2 May 2022</p>
          <a href="#">More Info</a>
        </div>
      </div>
      <div class="work-card">
        <img src="osmows.jpeg" alt="Company 1" class="company-logo" />
        <div class="work-details">
          <h3>Store Associate</h3>
          <p>Osmow's Shawarma, Guelph, ON</p>
          <p>03 May 2022 to 10 Dec 2022</p>
          <a href="#">More Info</a>
        </div>
      </div>
    </div>
  </section>
</Layout>
