<style>
    @import './Header.css';
</style> 

<html>
    <nav class="navbar">
    <div class="logo">
        Simardeep Singh
    </div>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <ul class="nav-list">
        <li><a href="#home">Home</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#about">About</a></li>
        <li><a id="resume" href="Documents/SimardeepSinghResume.pdf">Resume</a></li>
        <li><a id="resume" href="Documents/AWSCertificate.pdf">AWS Certificate</a></li>
    </ul>
    
    </nav>
</html>
